<?php
try{
    $dbh = new pdo( 'mysql:host=localhost;
    				dbname=', // название базы данных
                    '', // имя пользователя
                    '', // пароль
                    array(PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION));
}
catch(PDOException $ex){
    die(json_encode(array('outcome' => false, 'message' => 'Unable to connect')));
}
?>